.highlight {
  background-color: #e0f7fa;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

tr:hover {
  background-color: #f9f9f9;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
}
